In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
games = pd.read_csv('data/games.csv')
recommendations = pd.read_csv('data/recommendations.csv')
steam_games = pd.read_csv('data/steam_games.csv', delimiter=';')

C:\Users\Eric Bohner\AppData\Local\Temp\ipykernel_14728\2519888715.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  steam_games = pd.read_csv('data/steam_games.csv', delimiter=';')

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48844 entries, 0 to 48843
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          48844 non-null  int64
 1   title           48844 non-null  object
 2   date_release    48844 non-null  object
 3   win             48844 non-null  bool
 4   mac             48844 non-null  bool
 5   linux           48844 non-null  bool
 6   rating          48844 non-null  object
 7   positive_ratio  48844 non-null  int64
 8   user_reviews    48844 non-null  int64
 9   price_final     48844 non-null  float64
 10  price_original  48844 non-null  float64
 11  discount        48844 non-null  float64
 12  steam_deck      48844 non-null  bool
dtypes: bool(4), float64(3), int64(3), object(3)
memory usage: 3.5+ MB

In [5]:
recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14585291 entries, 0 to 14585290
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   app_id          int64
 1   helpful         int64
 2   funny           int64
 3   date            object
 4   is_recommended  bool
 5   hours           float64
 6   user_id         int64
 7   review_id       int64
dtypes: bool(1), float64(1), int64(5), object(1)
memory usage: 792.8+ MB

In [6]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55691 entries, 0 to 55690
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App ID             55691 non-null  int64
 1   Name               55691 non-null  object
 2   Short Description  55654 non-null  object
 3   Developer          55562 non-null  object
 4   Publisher          55540 non-null  object
 5   Genre              55530 non-null  object
 6   Tags               55556 non-null  object
 7   Type               55691 non-null  object
 8   Categories         54721 non-null  object
 9   Owners             55691 non-null  object
 10  Positive Reviews   55691 non-null  int64
 11  Negative Reviews   55691 non-null  int64
 12  Price              55691 non-null  int64
 13  Initial Price      55691 non-null  int64
 14  Discount           55691 non-null  int64
 15  CCU                55691 non-null  int64
 16  Languages          55680 non-null  object
 17  Platforms          55691 non-null  object
 18  Release Date       55592 non-null  object
 19  Required Age       55691 non-null  object
 20  Website            30474 non-null  object
 21  Header Image       55691 non-null  object
dtypes: int64(7), object(15)
memory usage: 9.3+ MB

In [7]:
sg = steam_games.merge(games, how='left', left_on='App ID', right_on='app_id')

In [10]:
sg.columns

Index(['App ID', 'Name', 'Short Description', 'Developer', 'Publisher',
       'Genre', 'Tags', 'Type', 'Categories', 'Owners', 'Positive Reviews',
       'Negative Reviews', 'Price', 'Initial Price', 'Discount', 'CCU',
       'Languages', 'Platforms', 'Release Date', 'Required Age', 'Website',
       'Header Image', 'app_id', 'title', 'date_release', 'win', 'mac',
       'linux', 'rating', 'positive_ratio', 'user_reviews', 'price_final',
       'price_original', 'discount', 'steam_deck'],
      dtype='object')

In [14]:
sg[['App ID', 'app_id']].head()

    App ID     app_id
0       10       10.0
1  1000000  1000000.0
2  1000010  1000010.0
3  1000030  1000030.0
4  1000040        NaN

In [15]:
sg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55691 entries, 0 to 55690
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App ID             55691 non-null  int64
 1   Name               55691 non-null  object
 2   Short Description  55654 non-null  object
 3   Developer          55562 non-null  object
 4   Publisher          55540 non-null  object
 5   Genre              55530 non-null  object
 6   Tags               55556 non-null  object
 7   Type               55691 non-null  object
 8   Categories         54721 non-null  object
 9   Owners             55691 non-null  object
 10  Positive Reviews   55691 non-null  int64
 11  Negative Reviews   55691 non-null  int64
 12  Price              55691 non-null  int64
 13  Initial Price      55691 non-null  int64
 14  Discount           55691 non-null  int64
 15  CCU                55691 non-null  int64
 16  Languages          55680 non-null  object
 17  Platforms          55691 non-null  object
 18  Release Date       55592 non-null  object
 19  Required Age       55691 non-null  object
 20  Website            30474 non-null  object
 21  Header Image       55691 non-null  object
 22  app_id             33768 non-null  float64
 23  title              33768 non-null  object
 24  date_release       33768 non-null  object
 25  win                33768 non-null  object
 26  mac                33768 non-null  object
 27  linux              33768 non-null  object
 28  rating             33768 non-null  object
 29  positive_ratio     33768 non-null  float64
 30  user_reviews       33768 non-null  float64
 31  price_final        33768 non-null  float64
 32  price_original     33768 non-null  float64
 33  discount           33768 non-null  float64
 34  steam_deck         33768 non-null  object
dtypes: float64(6), int64(7), object(22)
memory usage: 15.3+ MB

In [23]:
sg['mac'].sum()

9180

In [24]:
sg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55691 entries, 0 to 55690
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App ID             55691 non-null  int64
 1   Name               55691 non-null  object
 2   Short Description  55654 non-null  object
 3   Developer          55562 non-null  object
 4   Publisher          55540 non-null  object
 5   Genre              55530 non-null  object
 6   Tags               55556 non-null  object
 7   Type               55691 non-null  object
 8   Categories         54721 non-null  object
 9   Owners             55691 non-null  object
 10  Positive Reviews   55691 non-null  int64
 11  Negative Reviews   55691 non-null  int64
 12  Price              55691 non-null  int64
 13  Initial Price      55691 non-null  int64
 14  Discount           55691 non-null  int64
 15  CCU                55691 non-null  int64
 16  Languages          55680 non-null  object
 17  Platforms          55691 non-null  object
 18  Release Date       55592 non-null  object
 19  Required Age       55691 non-null  object
 20  Website            30474 non-null  object
 21  Header Image       55691 non-null  object
 22  app_id             33768 non-null  float64
 23  title              33768 non-null  object
 24  date_release       33768 non-null  object
 25  win                33768 non-null  object
 26  mac                33768 non-null  object
 27  linux              33768 non-null  object
 28  rating             33768 non-null  object
 29  positive_ratio     33768 non-null  float64
 30  user_reviews       33768 non-null  float64
 31  price_final        33768 non-null  float64
 32  price_original     33768 non-null  float64
 33  discount           33768 non-null  float64
 34  steam_deck         33768 non-null  object
dtypes: float64(6), int64(7), object(22)
memory usage: 15.3+ MB